.dash-board{
    width:100%;
    height:100vh;
    background: linear-gradient(45deg, #606f23, #488528)!important;
}
.dash-box{
    height: 500px;
    width: 900px;
    background-color: white;
    margin: 45px 20px;
    position: absolute;
  
}
.h-200{
    height:200px;
}
.circle-logo{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #606f23;
    text-align: left;
    margin: 9px -7px;
    display: inline-block;
    transform: translate(-33px, 0px);
}
.dash-title{
    font-size: 12px;
    font-weight: 800;
    display: inline-block;
    transform: translate(-19px, -18px);

}
.border-col{
    border-bottom: none !important;
}
.Welcome-das{
    text-align: left!important;
    font-size: 15px;
    font-weight: 700;
    margin: 8px 0px;
    color: #813232;

}
.search-bar{
    margin: 9px 0px;
    height: 37px;
    border-radius: 23px;
    padding: 0px 9px;
    box-shadow: 2px 4px 13px ;
    display: inline-block;
}
.bell-icon{
    background-color: #813232;
    width: 26px;
    height: 26px;
    border-radius: 15px;
    display: inline-block;
    margin: 16px 12px;
    position: absolute;
}
.img-icon{
    width: 34px;
    height: 35px;
    border-radius: 15px;
    display: inline-block;
    margin: -14px 42px;
}
.img-icon img{
    width:100%;
    height:100%;
    border-radius: 20px;
}
.dash-button{
    border: 1px solid;
    padding: 6px;
    width: 191px;
    border-radius: 4px;
    background-color: #4dcd3d;
    color: white;
}
.order-list{
    text-align: left;
    padding: 15px 3px;
}
.order-list li{
    padding: 15px 0px;
}
.circle-logo-icon{
    margin: 9px -111px;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    background-color: #606f23;
    text-align: left;
    display: inline-block;
}
.dash-title-name{
    font-size: 12px;
    font-weight: 800;
    display: inline-block;
    margin: 16px -73px;
}
.discount{
    text-align: start;
    font-size: 19px;
    font-weight: 700;
    margin: 0px -9px;
    color:#813232;
}
.dis-price{
    text-align: start;
    font-size: 10px;
    margin: 0px -8px;

}
.buy-button{
    padding: 6px;
    width: 121px;
    margin: 11px 1px;
    color: white;
    border-radius: 4px;
    background-color: #4dcd3d;
}
.vege-list{
    border-radius: 16px;
    box-shadow: 1px 6px 10px gray;
}