.header {
  height: 97px;
  border-left: none;
  border-right: none;
  background-color: black;
  box-shadow: 5px 6px 17px;
}
.logo-title {
  color: white;
  font-size: 26px;
  font-weight: 800;
  padding: 25px 13px;
}
.header-list {
  display: flex;
}
.search-input {
  height: 41px;
  width: 80%;
  padding: 0px 17px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  margin-top: 23px;
}
.search-button {
  color: white;
  height: 42px;
  width: 20%;
  background-color: #102881;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.like-arrow {
  color: white;
  display: inline-block;
  padding-top: 30px;
}
.cart-arrow {
  color: white;
  display: inline-block;
  padding-top: 30px;
}
.like-circle {
  display: inline-block;
  height: 19px;
  background-color: red;
  width: 18px;
  border-radius: 27px;
  position: absolute;
  margin: -8px -6px;
}
.cart-circle {
  display: inline-block;
  height: 25px;
  background-color: red;
  width: 25px;
  border-radius: 27px;
  position: absolute;
  font-weight: 800;
  margin: -19px -16px;
}

.header-item-list {
  height: 72px;
  border-right: none;
  border-left: none;
  box-shadow: 2px 3px 18px;
}
.item-list-nav {
  display: flex;
  position: absolute;
  right: 30px;
  padding-top: 21px;
  font-size: 15px;
  font-weight: 500;
  color: #918f8f;
}
.list-item-5 {
  padding-left: 64px;
}
.list-item-4{
  list-style: none;
  padding: 16px;
  font-size: 17px;
  font-weight: 600;
}
.arrow-icons {
  display: none;
}
.menu-just-icons {
  display: none;
}
.f-20{
  font-size: 25px;
}
.f-27{
  font-size: 27px;
}
.f-10{
  font-size: 22px;
    padding: 7px;
}
.padding-3{
  padding: 3px;
}

@media only screen and (max-width: 775px) {
  .like-arrow {
    display: none;
  }
  .cart-arrow {
    display: none;
  }
  .menu-just-icons {
    color: white;
    font-size: 32px;
    margin: 22px 1px;
    padding: 7px;
    border-radius: 3px;
    background-color: #534e4e;
    display: block;
  }
  .header-item-list {
    display: none;
  }
  .header-modal-box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    top: 0px;
  }
}
@media only screen and (max-width: 685px) {
  .menu-just-icons {
    margin: 23px -2px;
  }
  .search-input {
    display: none;
  }
  .search-button {
    display: none;
  }
  .side-bar-box{
    background-color: white;
    position: absolute;
    right: 0px;
    margin: 72px 0px;
    width: 258px;
    height: 91%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1;
    display: block;
  }
  .header-close-icons{
    font-size: 26px;
    position: absolute;
    right: 6px;
    padding: 4px 6px;
  }
  .box-item-list-1{
    padding: 8px 24px;
    font-weight: 700;
    margin-top: 24px;
    border-left: none;
    border-right: none;
  }
  .box-item-list-2{
    padding: 8px 24px;
    font-weight: 700;
    margin-top: 24px;
    border-left: none;
    border-right: none;
  }

  .box-item-list-1:hover{
    background-color: #9da9f785;
  }
  .box-item-list-2:hover{
    background-color: #9da9f785;
  }
  .header{
    background-color: #10196c;
    box-shadow: 0px -1px 24px white;
  }
  .logo-title{
    color:white;
  }
}
