.main-box{
    background-color: #d6e6f3;
    margin: 24px 0px;
    height:auto;
    box-shadow: 1px 0px 12px;
    flex-wrap: wrap;
}
.h-80{
    height: 187px;
}
.dress-name{
    margin: 11px;
    font-weight: 700;
}
.offer{
    text-align: left;
    width: 65px;
    padding: 2px;
    margin: 0px 1px;
    background-color: black;
    color: white;
    position: absolute;
}
.price{
    color: darkslategray;
    font-size: 14px;
    text-align: left;
    display: inline-block;
}
.old-pri{
    font-size: 12px;
    padding-left: 14px;
    text-decoration: line-through;
    color: gra
}
.cart-btn{
    margin: 7px 5px;
}
.like-heart{
    font-size: 23px;
    margin: 14px 3px;
    position: absolute;
    color: gray;
}