@media only screen and (max-width: 987px){
   .icons{
      margin: 22px 39px;
      font-size: 31px;
      color: black;
      display: block;
  }
  .nav-bar li{
   display: none;
  }
  .search-input {
   width: 448px!important;
}
} 


@media only screen and (max-width: 650px){
.company{
   display: none;
}
.design{
   display: none;
}
.account-list{
   display: none;
}
.courses-list{
   display: none;
}
.image-box{
   display: none;
}
.fec{
   display: none;
}
.t-icon{
   display: none;
}
.ins-icon{
   display: none;
}
.ni-icon{
   display: none;
}
.yo-icon{
   display: none;
}
.minu-bar{
   color: white;
   margin: -27px -38px;
   font-size: 30px;
   position: absolute;
   display: block !important;
}
.footer-app{
   height: 334px !important;
}
.footer-heading{
   font-size: 24px!important;

}
.name{
   font-size: 28px!important;
   padding: 10px 14px !important;
   transform: translate(11px, 116px);
}
.icons{
   color: black;
   font-size: 26px;
   margin: 23px 25px;
   text-align: end;
}
.app-box{
   background-color: #232364;
   width: 134px;
   position: absolute;
   margin: 16px -8px;
   height: 220px;
}
.image-1{
   width: 36px;
   height: 36px;
   margin: 10px 11px;
   border-radius: 19px;
   padding: 8px 10px;
   font-size: 20px;
   background-color: white;
   color: blue;
   font-weight: 800;
}
.image-2{
   border: 1px solid;
    height: 39px;
    border-radius: 21px;
    margin: 0px 8px;
    background-color: white;
}
.image-3{
   border: 1px solid;
   padding: 4px;
   height: 37px;
   margin: 7px 10px;
   border-radius: 22px;
   background-color: white;
}
.image-in{
   border: 1px solid white;
   width: 38px;
   border-radius: 20px;
   margin: 0px 9px;
}
.image-4{
   border-radius: 23px;
}
.search-input{
   width: 261px;
}

}

@media only screen and (max-width: 853px){
.search-input{
   width: 443px !important;
}
}
@media only screen and (max-width: 619px){
.search-input{
   width: 215px !important;
}
}

@media only screen and (max-width: 794px){
  .search-input{
   width: 326px !important;
  }
}
@media only screen and (max-width: 723px){
.search-input{
   width: 267px !important;
}
}
@media only screen and (max-width: 540px){
.search-input{
   width: 166px!important;
}
}
@media only screen and (max-width: 280px){
.search-input{
   display: none;
}
.search-button{
   display: none;
}
}
@media only screen and (max-width: 635px){
   .search-input{
      width: 247px!important
   }
   .search-button{
      width: 75px;
      padding: 8px 3px;
   }
   }
   @media only screen and (max-width: 412px){
   .search-input{
      width: 256px!important;
   }
}
@media only screen and (max-width: 661px){
.search-input {
    width: 247px !important;
}
}
@media only screen and (max-width: 700px){
.banner-list{
    display: none;
}
}

 
